@use './variables' as *;

@mixin flexBox( $direction : row , $jc : start, $ai : start) {
  display: flex;
  flex-direction: $direction;
  justify-content: $jc;
  align-items: $ai;
}  

@mixin typography($size : 1.6rem, $weight : 400, $lineHeight : 1.5 ) {
  font-family: roboto;
  font-size: $size;
  font-weight: $weight;
  line-height: $lineHeight;
  color: $blue-800-color;
}

@mixin inputAmount {
  cursor: pointer;
  max-width: 14.7rem; 
  color: $green-900-color;
  font-size: 2.4rem;
  padding-inline: .8rem;
  text-align: right;
  transition: all .3s ease;
  &:focus {
    cursor: pointer;
    outline: none;
    background-color: $green-200-color;
    border: 1px solid $green-750-color;
    border-radius: .4rem;
  }
}


@mixin buttonAmount {
  width: 100%;
  background-color: $green-900-color;
  color: $white-color;
  font-size: 2.4rem;
  padding: .8rem 1.6rem;
  border-radius: .4rem;
  transition: all .3s ease-in-out;
  &:hover,focus {
    cursor: pointer;
    background-color: $green-400-color;
    color: $green-900-color;
  }
}

