

$green-200-color: #9fe8df; /*  hsl(173, 61%, 77%); */
$green-400-color: #26c2ae; /*  hsl(172, 79%, 24%); */
$green-750-color: #0d6b6d; /*  hsl(183, 70%, 15%); */
$green-800-color: #085c61; /*  hsl(183, 85%, 21%); */
$green-900-color: #00474b; /*  hsl(183, 100%, 15%); */
$grey-600-color: #3d6666;
$grey-550-color: #547878;
$grey-500-color: #5e7a7d;/*  hsl(186, 14%, 43%); */
$grey-400-color: #7f9d9f; /*  hsl(184, 14%, 56%); */
$grey-300-color: #9ebbbd; /*  hsl(185, 41%, 84%); */
$grey-200-color: #c5e4e7;/*  hsl(185, 41%, 84%); */
$grey-50-color: #f3f9fa; /*  hsl(189, 47%, 97%); */
$orange-400-color: #e17052; /*  hsl(13, 70%, 60%); */
$white-color: #ffffff; /*  hsl(0, 100%, 100%); */
$black-color: #000000;

$text-1: 3.2rem;
$text-2: 2.4rem;
$text-3: 2rem;
$text-4: 1.6rem;
$text-5: 1.3rem;
$text-7: 4.8rem;
$text-6: 4rem;

$text-lh-1: 1.5;
$text-lh-2: 1.1;

$space-1600: 12.8rem;
$space-1500: 12rem;
$space-1300: 10.4rem;
$space-1200: 9.6rem;
$space-1000: 8rem;
$space-900: 7.2rem;
$space-800: 6.4rem;
$space-600: 4.8rem;
$space-500: 4rem;
$space-400: 3.2rem;
$space-300: 2.4rem;
$space-200: 1.6rem;
$space-100: .8rem;
$space-50: .4rem;



